<!DOCTYPE html>
<html>
  <head>
    <title>LisanaPhoto</title>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" type="image/png" href="/images/LP-logo.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/lib/lightgallery.js-master/dist/css/lightgallery.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/gallery.css">
    <style media="screen">
    /*
            CUSTOM STYLE CLASSES
     */
    .ctr { text-align: center;}
    .pad-t { padding-top: 3em;}
    .mar-t { margin-top: 3em;}
    .mar-1 { margin-top: 1em;}
    .mar-tc { margin: 3em auto;}
    .mar-a { margin: 0  auto;}
    .grid-container-front { display: grid; grid-template-columns: 40% 60%; }
    .grid-container-2 { display:grid; grid-template-columns: auto auto; grid-gap:10px;padding: 15px;}
    .grid-container-3 { display:grid; grid-template-columns: auto auto auto; grid-gap:10px;padding: 15px;}
    .grid-container-4 { display:grid; grid-template-columns: auto auto auto auto; position: fixed;grid-gap:10px;padding: 15px;}
    .grid-container-5 { display:grid; grid-template-columns: auto auto auto auto auto; grid-gap:10px; padding: 15px;}
    #lightgallery {
      border: 2px solid #fff;
      margin: 5px;
    }

    </style>
  </head>
  <body>

    <nav class="navbar navbar-dark ">
      <div class="container-fluid">

        <div class="navbar-header">
          <button style="border: 1px solid white;" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span style="border-top: 1px solid white;" class="icon-bar"></span>
            <span style="border-top: 1px solid white;" class="icon-bar"></span>
            <span style="border-top: 1px solid white;" class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <span class="circle">
              LP
            </span>
          </a>
        </div>

        <div class="collapse navbar-collapse " id="mobile">
          <ul class="nav navbar-nav mar-a">
            <li class="par"><a class="text-center ab" data-toggle="collapse" data-target="#mobile" href="/">Home <span class="sr-only">(current)</span></a></li>
            <li class="par"><a class="text-center ab" data-toggle="collapse" data-target="#mobile" href="/gallery">Gallery</a></li>
            <li class="par"><a class="text-center ab" data-toggle="collapse" data-target="#mobile" href="/contact">Contact</a></li>
          </ul>
        </div>

      </div>
    </nav>
