<% include partials/header %>

    <div class="ctr welcome">
      <div class="par">
        <a href="mailto:lisanaphoto@gmail.com"><p id="contactLink">
          Please Click Here To Contact Me
        </p></a>
      </div>

    </div>



<% include partials/footer %>
