<% include partials/header %>
<style media="screen">
  .thumb {
    display:inline-block;
    min-width:165px;
    min-height:165px;
    background:center;
    background-size:cover;
  }
</style>

<div class="grid-container-1 mar-t">
  <div class="scroll-wrap" >
    <a  style="margin-left:20px;"href="/travel"> << Travel Gallery</a><a  style="float:right;margin-right:20px;"href="/urban"> Urban Gallery >></a>

    <h3 class="ctr">Family Gallery</h3>
    <div class="mar-t"></div>
    <% include partials/famGal %>
  </div>
</div>

<% include partials/footer %>
