<% include partials/header %>

    <div class="ctr welcome mar-t">
      <div class="card-holder par" style="font-family:arial black">
				<a class="card" id="TbtnCall" href='/travel'>
					<h3>Travel Collection</h3>
					<img class="card-pic" src="https://firebasestorage.googleapis.com/v0/b/lisanaphotodb.appspot.com/o/Travel%2F8_3.jpg?alt=media&token=4fd023a6-0548-4116-950f-603daedd1b71" alt="" width='200'srcset="https://firebasestorage.googleapis.com/v0/b/lisanaphotodb.appspot.com/o/Travel%2F8_3.jpg?alt=media&token=4fd023a6-0548-4116-950f-603daedd1b71 1x, https://firebasestorage.googleapis.com/v0/b/lisanaphotodb.appspot.com/o/Travel%2F8_3.jpg?alt=media&token=4fd023a6-0548-4116-950f-603daedd1b71 2x">
				</a>

				<a class="card"id="FbtnCall" href='/family'>
					<h3>Family Collection</h3>
					<img class="card-pic"src="https://firebasestorage.googleapis.com/v0/b/lisanaphotodb.appspot.com/o/Family%2F4_3.jpg?alt=media&amp;token=2ba9cd8c-fbfc-408f-98bd-649782eaace6" alt="" width='200' />
				</a>

				<a class="card" id="UbtnCall" href='/urban'>
					<h3>Urban Collection</h3>
					<img class="card-pic"src="https://firebasestorage.googleapis.com/v0/b/lisanaphotodb.appspot.com/o/Urban%2F23.jpg?alt=media&token=faaa34f7-79c5-4726-8e15-3c4240757fe9" alt="" width='200' />
				</a>
			</div>
    </div>



<% include partials/footer %>
