<% include partials/header %>

    <div class="container text-center main mar-t">
      <h1 class="homeText"style="font-size:50px">Welcome to LisanaPhoto</h1>
      <span class="homeText par"><a href="/gallery"><h3>Digital Portfolio</h3></a></span>

      <a href="/gallery">
        <img class="colo img-responsive" style="margin:auto" src="images/tumblr_static_5zhypc46iqskw0g0goko8skos_2048_v2.gif" alt="" id="">
      </a>



    </div>

<% include partials/footer %>
