<% include partials/header %>

    <div class="ctr welcome mar-t">
      <h1>LisanaPhoto</h1>
    </div>

    <section class="ctr mar-t pad-t">


      <span class="homeText par">
        <a href="/gallery">
          <div class="img-wrap">
            <img class="mar-a" src="images/cam2.png" width="300"alt="" id="">
          </div>
          <h3 id="enter">Digital Portfolio</h3>
        </a>
      </span>

    </section>

<% include partials/s-footer %>
